body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

#gameCanvas {
  border: 2px solid white;
  margin-top: 20px;
}

.hidden {
  display: none;
}

#cutscene {
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  padding-top: 150px;
  font-size: 24px;
}
